<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMoq" version="2.0.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="16.2.0" targetFramework="net461" />
  <package id="Moq" version="4.12.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="5.0.2" targetFramework="net461" developmentDependency="true" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit.Console" version="3.10.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.10.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.6" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.Runners" version="3.10.0" targetFramework="net461" />
  <package id="OpenCover" version="4.7.922" targetFramework="net461" />
  <package id="ReportGenerator" version="4.2.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="Unity" version="4.0.1" targetFramework="net461" />
</packages>